.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

.headerLinks {
  color: #413eea;
  text-align: center;
  font-family: Gilroy-Black;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigationLinks {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

/** Mobile */
@media (max-width: 414px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 84%;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0;
  }
}
