.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/BG.png");
}

/** Header Styles */
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}
.headerLeftColumn {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 15em;
  justify-content: center;
  gap: 2em;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

.header1 {
  color: #413eea;
  font-family: Gilroy-Bold;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 393px;
}

.header3 {
  color: #7c7bbf;
  font-family: Gilroy-Bold;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 355px;
}

.button {
  background: var(--dark-blue);
  display: flex;
  width: 220px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 3px 5px 10px 0px rgba(62, 59, 85, 0.26);
  color: #fff;
  font-family: Gilroy-medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

/** Description Styles */

.descriptionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  gap: 10em;
}

.descriptionLeftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  gap: 2em;
}

.header2 {
  font-family: Gilroy-ExtraBold;
  font-size: 36px;
  font-style: normal;

  font-weight: 400;
  line-height: normal;
  background: linear-gradient(
    94deg,
    rgba(65, 62, 234, 0.78) -18.59%,
    rgba(255, 54, 77, 0.33) 114.52%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header4 {
  color: var(--black);
  text-align: justify;
  width: 20em;
  font-family: "Apfel Grotezk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/** Features Styles */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  gap: 5em;
}
.featuresHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 460px;
}

.header4Features {
  color: var(--black);
  text-align: justify;
  width: 28em;
  font-family: "Apfel Grotezk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 2em;
  margin-right: 4em;
}

.header5 {
  color: #413eea;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 2em;
}

/** Review styles */
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
  margin-top: 10em;
}

.header2Features {
  font-family: Gilroy-ExtraBold;
  font-size: 36px;
  font-style: normal;

  font-weight: 400;
  line-height: normal;
  background: linear-gradient(
    94deg,
    rgba(65, 62, 234, 0.78) -18.59%,
    rgba(255, 54, 77, 0.33) 114.52%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header4Reviews {
  color: var(--black);
  text-align: justify;
  width: 25em;
  font-family: "Apfel Grotezk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.reviewComments {
  filter: drop-shadow(0px 4px 13px rgba(94, 94, 94, 0.25));
}

.reviewComments2 {
  filter: drop-shadow(0px 4px 13px rgba(94, 94, 94, 0.25));
}

.review1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 1em;
}

.review2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  gap: 1em;
}

.reviewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

/** Newsletter Styles */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15em;
  margin-bottom: 10em;
  gap: 3em;
}

.header6 {
  color: var(--black);
  text-align: center;
  font-family: Gilroy-ExtraBold;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 393px;
}

.email {
  width: 353px;
  height: 48px;
  border-bottom: 2px solid #3d22a58e;
  color: rgba(189, 189, 189, 0.66);
  text-align: left;
  font-family: "Apfel Grotezk";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.newsletterLink {
  display: flex;
  text-align: left;
  gap: 0.5em;
  font-family: "Apfel Grotezk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(
    91deg,
    rgba(105, 69, 242, 0.6) -6.79%,
    rgba(255, 54, 77, 0.47) 106.21%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Tablet */
@media (max-width: 820px) {
  /** header **/
  .headerContainer {
    width: 20em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .headerLeftColumn {
    z-index: 2;
    position: relative;
    bottom: 20em;
    right: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
  }

  .header1 {
    color: #413eea;
    font-family: Gilroy-Bold;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 363px;
  }

  .header3 {
    color: #7c7bbf;
    font-family: Gilroy-Bold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 335px;
  }

  .button {
    background: var(--dark-blue);
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 3px 5px 10px 0px rgba(62, 59, 85, 0.26);
    color: #fff;
    font-family: Gilroy-medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  /** description **/
  .descriptionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 45em;
    gap: 5em;
  }

  .descriptionLeftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    gap: 1em;
    position: relative;
    left: 3em;
  }

  .header2 {
    font-family: Gilroy-ExtraBold;
    font-size: 30px;
    font-style: normal;
    width: 15em;
    position: relative;
    left: 2em;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(
      94deg,
      rgba(65, 62, 234, 0.78) -18.59%,
      rgba(255, 54, 77, 0.33) 114.52%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header4 {
    color: var(--black);
    text-align: justify;
    width: 17em;
    font-family: "Apfel Grotezk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 1em;
    margin-right: 4em;
  }
  .splinePhone {
    position: relative;
    right: 4em;
  }

  /** features **/
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    position: relative;
    bottom: 50em;
  }

  .header4Features {
    color: var(--black);
    text-align: justify;
    width: 17em;
    font-family: "Apfel Grotezk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 1em;
    margin-right: 4em;
  }

  /** reviews **/
  .review {
    position: relative;
    bottom: 40em;
  }
  .header2Reviews {
    font-family: Gilroy-ExtraBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(
      94deg,
      rgba(65, 62, 234, 0.78) -18.59%,
      rgba(255, 54, 77, 0.33) 114.52%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/** Mobile */
@media (max-width: 414px) {
  /** header **/
  .headerContainer {
    width: 20em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .headerLeftColumn {
    z-index: 2;
    position: relative;
    bottom: 15em;
    left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
  }

  .header1 {
    color: #413eea;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 260px;
  }

  .header3 {
    color: #7c7bbf;
    font-family: Gilroy-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
  }

  .button {
    background: var(--dark-blue);
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 3px 5px 10px 0px rgba(62, 59, 85, 0.26);
    color: #fff;
    font-family: Gilroy-medium;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  /** description **/
  .descriptionContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 28em;
    left: 5em;
    gap: 6em;
  }

  .descriptionLeftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    gap: 1em;
    left: -6em;
    position: relative;
  }

  .header2 {
    font-family: Gilroy-ExtraBold;
    font-size: 20px;
    font-style: normal;
    width: 15em;
    position: relative;
    left: 2em;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(
      94deg,
      rgba(65, 62, 234, 0.78) -18.59%,
      rgba(255, 54, 77, 0.33) 114.52%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header4 {
    color: var(--black);
    text-align: justify;
    width: 17em;
    font-family: "Apfel Grotezk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 1em;
    margin-left: 5em;
  }
  .splinePhone {
    position: relative;
    right: 4em;
  }

  /** features **/

  .componentsImage {
    width: 75%;
  }

  .featuresHeader {
    margin-top: 10em;
  }

  .header5 {
    font-size: 10px;
  }

  .header2Features {
    font-size: 20px;
  }

  .header4Features {
    color: var(--black);
    text-align: justify;
    width: 18em;
    font-family: "Apfel Grotezk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 1em;
    line-height: 20px;
    /* margin-top: 1em; */
    margin: 0;
    display: flex;
    align-items: center;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    position: relative;
    bottom: 20em;
  }

  /** Reviews **/
  .review {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 15em;
  }
  .header2Reviews {
    font-family: Gilroy-ExtraBold;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(
      94deg,
      rgba(65, 62, 234, 0.78) -18.59%,
      rgba(255, 54, 77, 0.33) 114.52%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header4Reviews {
    color: var(--black);
    text-align: justify;
    width: 18em;
    font-family: "Apfel Grotezk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 1em;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  .reviewComments {
    width: 90%;
  }
  .reviewComments2 {
    width: 60%;
  }
  .review1 {
    margin-left: 2em;
  }
  .review2 {
    margin-right: 2em;
  }

  /** Newsletter **/

  .header6 {
    color: var(--black);
    text-align: left;
    font-family: Gilroy-ExtraBold;
    font-size: 20px;
    position: relative;
    bottom: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
  }
}
